.findMain {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 160px);
  padding: 20px;
  background: linear-gradient(180deg, #e9f2ff 0%, #9fc7ff 100%);
}
.findMain.learn {
  padding: 0 !important;
}
.findMain .question {
  font-size: 1.8rem;
  margin: 0 auto 20px auto;
  width: fit-content;
  text-align: center;
  font-weight: 600;
}
.find-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 160px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-bottom: 80px;
}
.startBtn {
  width: 350px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0073ff;
  color: white;
  font-size: 1.4rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.15s;
  font-family: var(--mainFont);
}
.startBtn:hover {
  background-color: #0061c9;
}
.nextSetBtn {
  width: 200px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4699ff, #0054bc);
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
  font-family: var(--mainFont);
}
.nextSetBtn:hover {
  filter: brightness(1.2);
}
.nextSetBtn.endBtn {
  background: transparent !important;
  border: 2px solid #0073ff !important;
  color: #0073ff !important;
  transition: 0.25s !important;
}
.nextSetBtn.endBtn:hover {
  background: linear-gradient(135deg, #4699ff, #0054bc) !important;
  color: white !important;
  border: none !important;
  filter: none !important;
}
.cant_go_back_text {
  position: absolute;
  left: 50%;
  bottom: 26%;
  translate: -50%;
  width: max-content;
  color: red;
}
.resultsTitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}
.resultsTitle.rec {
  margin-bottom: 40px 0;
}
.areaInfoPopUp {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
  z-index: 500;
}
.areaInfoPopUp.show {
  display: flex !important;
  opacity: 1 !important;
}
.areaInfoPopUp .menu {
  width: 450px;
  height: fit-content;
  background: linear-gradient(135deg, #ffffff, #def0ff);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 502;
}
.exitClick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
}
.inputsCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
}
.inputsCont label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
}
.inputBtn {
  border: 1.5px dashed rgb(48, 48, 48);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.15s;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.inputBtn:hover {
  background-color: #bcdaff;
}
.notSelected {
  background: transparent;
}
.selected {
  background: #0073ff !important;
  border-style: solid !important;
}
.findMain .answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
.findMain ul {
  margin: 0;
}
.quizTitle {
  font-size: 2.76rem;
  margin: 0;
}
.quizDesc {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  width: 60%;
}
.advanceBtn {
  width: 200px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0073ff;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
  font-family: var(--mainFont);
}
.advanceBtn:hover {
  background-color: #0056b3;
}
.recommendedJob {
  cursor: pointer;
  transition: 0.2s;
}
.recommendedJob:hover {
  text-decoration: underline;
}
.jobsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}
.jobsList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: fit-content;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.jobsList h2 {
  margin: 0;
}
.jobsList i {
  cursor: pointer;
  transition: 0.2s;
  color: #0073ff;
  font-size: 1.4rem;
}
.jobsList i:hover {
  scale: 1.1;
}
.findMain .inputsCont,
.buttonsCont {
  width: max-content;
  height: fit-content;
  margin: 0 auto 0 auto;
}
.buttonsCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto 20px auto;
}
.relatedCareer {
  cursor: pointer;
  transition: 0.2s;
}
.relatedCareer:hover {
  scale: 1.01;
}
#questionCount {
  margin: 0 auto;
  width: max-content;
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  left: 15px;
}
#prev-title {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.prev-results-break {
  width: 95%;
  height: 2px;
  border: none;
  background-color: rgb(48, 48, 48);
  margin: 20px auto 20px auto;
  border-radius: 1px;
}
.prev-results-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.prevResultCont {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.8),
    rgb(255, 255, 255, 0.4)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: calc(50% - 20px);
  height: fit-content;
  margin: 10px auto 10px auto;
  gap: 20px;
  position: relative;
}
.scores-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  height: fit-content;
  gap: 20px;
}
.scoreCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 50%;
  aspect-ratio: 1;
  width: calc(33.333333% - 15px);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.scoreCont:hover {
  scale: 1.05;
}
.score-area {
  margin: 0;

  font-size: 0.8rem;
  color: rgb(64, 64, 64);
}
.area-score {
  margin: 0;
  color: rgb(48, 48, 48);
  font-size: 1.7rem;
  font-weight: 600;
}
.dateText {
  margin: 0;
}
.get-careers-btn {
  width: 100%;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0073ff;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.15s;
  font-family: var(--mainFont);
}
.get-careers-btn:hover {
  background-color: #0056b3;
}
.removeResult {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: linear-gradient(155deg, rgb(255, 136, 136), rgb(255, 61, 61));
  width: fit-content;
  height: fit-content;
  padding: 7px 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: var(--mainFont);
  box-sizing: unset;
  font-weight: 600;
  transition: 0.2s ease;
}
.removeResult:hover {
  filter: brightness(1.4);
}
.questionChangeButton {
  width: 170px;
  height: 35px;
  border: none;
  display: flex;
  background: linear-gradient(135deg, #4699ff, #0054bc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--mainFont);
  font-size: 1.2rem;
  transition: 0.15s ease;
  border-radius: 4px;
}
.questionChangeButton:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
#findForm {
  width: 600px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}
.explain-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .careerMain {
    padding: 20px;
  }

  #careerTitle {
    font-size: 2rem;
  }

  .careerBlock h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .careerBlock button {
    margin-top: 10px;
    align-self: flex-end;
  }
  .quizTitle {
    text-align: center;
    font-size: 2.3rem;
  }
  .quizDesc {
    width: 90%;
  }
  .scores-wrapper {
    width: 97%;
  }
  .get-careers-btn {
    font-size: 1.1rem;
    height: auto;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .dateText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
  }
  .removeResult {
    font-size: 0.7rem;
  }
  #findForm {
    width: 90%;
    height: fit-content;
    padding: 50px 0 30px 0;
  }
  #questionCount {
    font-size: 1rem;
  }
  .cant_go_back_text {
    top: 10px;
  }
  .pathCont .infoBox.tech .techBox {
    max-width: 200px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .inputBtn {
    width: 40px;
  }
  .inputsCont label {
    font-size: 1.1rem;
  }
  .findMain .question{
    font-size: 1.4rem;
    width: 95%;
  }
  .questionChangeButton{
    width: 100px;
    height: 30px;
    font-size: 1rem;
  }
  .nextSetBtn{
    width: 120px;
    height: 30px;
    font-size: 0.9rem;
  }
  .cant_go_back_text{
    font-size: 0.8rem;
  }
  .quizTitle {
    font-size: 1.6rem;
  }
  .quizDesc {
    width: 100%;
    font-size: 1rem;
  }
  .startBtn {
    width: 100%;
    font-size: 1.1rem;
    height: 35px;
  }
  .pathCont .infoBox.tech .techBox{
    max-width: 170px;
  }
  .careerMain {
    padding: 15px;
  }
  .removeResult {
    font-size: 0.6rem;
  }
  #careerTitle {
    font-size: 1.8rem;
  }
  .prevResultCont {
    width: 95%;
  }
  .score-area {
    font-size: 0.6rem;
  }
  .area-score {
    font-size: 1.2rem;
  }
  .explain-wrapper {
    gap: 20px;
  }
  .explain-wrapper h1{
    font-size: 1.4rem;
    margin: 0;
  }
  .explain-wrapper p {
    font-size: 0.8rem;
    margin: 0;
  }
  .explain-wrapper ul {
    margin: 0;
  }
  .explain-wrapper ul li {
    font-size: 0.8rem;
    margin: 0;
  }
  .careerBlock h3 {
    font-size: 1.2rem;
  }
  .get-careers-btn {
    font-size: 0.8rem;
    height: auto;
  }
  .advanceBtn {
    font-size: 1rem;
    width: 150px;
    height: 30px;
  }
  .careerBlock button {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .dateText {
    font-size: 0.7rem;
  }
  .areaInfoPopUp .menu{
    width: 95%;
  }
}
