header {
  background-color: #0073ff;
  color: white;
  text-align: center;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 20px;
  overflow: hidden;
}
header img {
  height: 100%;
  aspect-ratio: 1;
}
#logoLink {
  height: 100%;
}
#pathsLink {
  text-decoration: none;
  width: max-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
header i {
  font-size: 1.6rem;
  color: white;
  transition: 0.2s;
}
header nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav .divider {
  width: 3px;
  height: 50px;
  background-color: white;
  border-radius: 2px;
}
header nav a {
  width: max-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
header nav a:hover i,
#pathsLink:hover i {
  scale: 1.1;
}
header nav h2 {
  margin: 0;
  font-family: var(--mainFont);
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}
.navActive{
  color: #89d8ff !important;
}
.mainFooter {
  background-color: hsla(0, 0%, 83%, 0.2);
  color: white;
  text-align: center;
  height: 80px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.mainFooter .textCredit {
  font-family: var(--mainFont);
  color: rgb(255, 255, 255);
}
.mainFooter a{
  color: rgb(162, 227, 255);
}
.elseFooter {
  background-color: #d4d4d4;
  color: white;
  text-align: center;
  height: 80px;
  width: 100%;
  overflow: hidden;
}
.elseFooter .textCredit{
  font-family: var(--mainFont);
  color: rgb(48, 48, 48);
}
.resultsFooter{
  background-color: #57a6ff !important;
}
.resultsFooter .textCredit{
  font-family: var(--mainFont);
  color: rgb(255, 255, 255) !important;
}
.resultsFooter a{
  color: rgb(8, 0, 255) !important;
}
footer img {
  width: 130px;
  height: 60px;
  border: none;
}
