.mainBody {
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.mainBody #mainTitle {
  font-family: var(--mainFont);
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin: 100px 0 0 0;
}
.mainBody #searchInput,
#resultSearchInput {
  flex: 1;
  height: 100%;
  padding: 0 10px;
  font-family: var(--mainFont);
  font-size: 1.2rem;
  margin: 20px 0;
  --placeholder-opacity: 1;
  --placeholder-scale: 1;
  border: none;
  outline: 0;
  transition: 0.2s;
}
.loadingCont .menu{
  width: 70%;
  height: fit-content;
  background: linear-gradient(135deg, #ffffff, #def0ff);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 502;
}
.loadingCont .showPopupButtonsCont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loadingCont .showPopupButtonsCont button{
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 1.1rem;
  height: fit-content;
  width: fit-content;
  min-width: 140px;
  padding: 7px;
}
.loadingCont .showPopupButtonsCont button:nth-of-type(1){
  border: 2px solid #0073ff;
  background-color: #0073ff;
  color: white;
}
.loadingCont .showPopupButtonsCont button:nth-of-type(2){
  border: 2px solid #0073ff;
  background: transparent;
  color: #0073ff;
}
.loadingCont .showPopupButtonsCont button:nth-of-type(1):hover{
  background-color: #0055be;
  border: 2px solid #0055be;
}
.loadingCont .showPopupButtonsCont button:nth-of-type(2):hover{
  background-color: hsla(213, 100%, 50%, 0.15);
  color: white;
}
#searchInput:-webkit-autofill,
#searchInput:-webkit-autofill:hover,
#searchInput:-webkit-autofill:focus,
#searchInput:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
#searchInput[type="search" i]::-webkit-search-cancel-button {
  cursor: pointer;
  filter: brightness(2.8);
}
#searchInput {
  background-color: transparent;
  color: white;
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Ensure no shadow effect */
}
#searchInput:-moz-autofill {
  background-color: transparent !important;
  color: white !important;
}

#searchInput:-ms-autofill {
  background-color: transparent !important;
  color: white !important;
}

#searchInput:-o-autofill {
  background-color: transparent !important;
  color: white !important;
}
#searchInput:-webkit-autofill {
  background-color: transparent !important;
  color: white !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

#searchInput::placeholder {
  opacity: var(--placeholder-opacity);
  scale: var(--placeholder-scale);
  color: rgb(196, 196, 196);
  transition: 0.2s ease-in-out;
}
#searchInput:focus::placeholder,
#resultSearchInput:focus::placeholder {
  opacity: 0;
}
.searchBox i {
  cursor: pointer;
  color: white;
}
.searchBox {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #303030;
  border-radius: 25px;
  padding: 8px;
  backdrop-filter: blur(15px);
  position: absolute;
  left: 50%;
  top: 45%;
  translate: -50% -50%;
}
.loadingCont {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Fallback for unsupported browsers */
  z-index: 200;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: max-content;
}
.dot {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}
.dot:last-child {
  margin-right: 0;
}
.dot:nth-child(1) {
  animation-delay: -0.3s;
}
.dot:nth-child(2) {
  animation-delay: -0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.1s;
}
@keyframes pulse {
  0% {
    transform: scale(0.7);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.3);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.7);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
.learnCareerCont {
  position: relative;
  padding: 80px 10px 20px 10px;
  background: linear-gradient(155deg, #d5e6ff 0%, #8dbcff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.learnCareerCont i {
  cursor: pointer;
  transition: 0.2s;
  color: #0073ff;
  font-size: 1.8rem;
  position: absolute;
  right: 10px;
  top: 10px;
}
.learnCareerCont i:hover {
  background-color: #8fc2ff;
}
.visualPathway {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.pathWayBox {
  border: 2px solid black;
  width: max-content;
  max-width: 240px;
  height: fit-content;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pathWayBox * {
  margin: 0;
}
.apprenticeShipCont {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.pathWayBoxCont {
  display: flex;
  height: fit-content;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
  width: max-content;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  position: relative;
}
.backImg {
  width: 100%;
  height: calc(100dvh - 80px);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.45);
  z-index: -1;
}
.relatedCareer {
  cursor: pointer;
  transition: 0.2s;
  width: max-content;
}
.relatedCareer:hover {
  scale: 1.01;
}
.backButton {
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0;
  transition: 0.2s;
}
.backButton:hover {
  scale: 1.1;
}

.main-container {
  position: relative;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Light grey placeholder */
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mainTitle {
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.careerInfoCard {
  width: 98%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding: 30px;
  margin: 0;
}
#careerInfoTitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.careerInfoCardHeader {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.careerInfoCardHeader.pathContHeader {
  font-size: 2.5rem;
}
.careerInfoCardHeader.techHeader {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.careerInfoSection {
  margin: 20px 0;
  padding: 0;
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.careerInfoSection .section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.techBoxCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.techBox {
  width: max-content;
  height: fit-content;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #398cff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  cursor: default;
}
.techBox:hover {
  scale: 1.03;
}
.techBox p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(240, 240, 240);
}
.resourceCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resourceCont a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(0, 102, 255);
  width: fit-content;
}
.resourceCont a:hover {
  text-decoration: underline;
}
.resourceDesc {
  margin: 0;
  color: rgb(126, 126, 126);
  margin-bottom: 30px;
}
.resourceTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.otherCareersTitle {
  margin: 20px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.mainLine {
  width: 6px;
  background-color: black;
  position: relative;
}
.mainLine::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: black;
}
.pathCont {
  width: fit-content;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}
.lineSegment {
  position: absolute;
}
.lineSegment .line {
  height: 160px;
  border-left: 4px solid black;
  z-index: 2;
}
.pathCont .circle {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pathCont .infoBox {
  position: absolute;
  top: 0;
  width: 200px;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0073ff;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.pathCont .infoBox.tech {
  background-color: #0073ff;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pathCont .infoBox.tech .techBox {
  background-color: #479aff !important;
}
.pathCont .infoBox.tech p {
  font-size: 0.7rem;
}
.pathCont .infoBox p {
  margin: 0;
  font-size: 1rem;
  color: white;
}
#endResult {
  width: fit-content;
  height: fit-content;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0073ff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
#endResult p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.pathHeader {
  margin: 0;
  position: absolute;
  top: -40px;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(48, 48, 48);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .mainBody #mainTitle {
    font-size: 3rem;
    margin: 60px 0 0 0;
  }
  .loadingCont .menu{
    width: 95%;
  }
  .searchBox {
    width: 90%;
  }

  .careerInfoSection {
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .careerInfoSection .section {
    width: 100%;
  }

  .apprenticeShipCont {
    flex-direction: column;
  }

  .pathCont {
    transform: scale(0.9);
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .mainBody #mainTitle {
    font-size: 2.5rem;
  }
  .loadingCont .menu h1{
    font-size: 1.5rem;
  }
  .loadingCont .menu p{
    font-size: 0.9rem;
  }
  .loadingCont .showPopupButtonsCont button{
    font-size: 0.8rem;
    height: 50px;
  }
  .searchBox {
    width: 70%;
    height: 40px;
  }

  .mainBody #searchInput,
  #resultSearchInput {
    font-size: 1rem;
  }

  .careerInfoCard {
    padding: 20px;
  }

  #careerInfoTitle {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .careerInfoCardHeader {
    font-size: 1.3rem;
  }

  .careerInfoCardHeader.pathContHeader {
    font-size: 2rem;
  }

  .techBoxCont {
    gap: 8px;
  }

  .techBox {
    padding: 3px 8px;
  }

  .techBox p {
    font-size: 0.8rem;
  }

  .pathCont {
    transform: scale(0.8);
    margin-top: 60px;
  }

  #endResult {
    padding: 8px 30px;
  }

  #endResult p {
    font-size: 1rem;
  }

  .pathHeader {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .mainBody #mainTitle {
    font-size: 2rem;
  }

  .searchBox {
    height: 40px;
    width: 80%;
  }

  #searchInput,
  #resultSearchInput {
    font-size: 0.9rem;
  }

  .careerInfoCard {
    padding: 15px;
  }

  #careerInfoTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .pathCont .infoBox{
    top: 75px;
    width: 115px;
  }
  .careerInfoCardHeader {
    font-size: 1.2rem;
  }

  .careerInfoCardHeader.pathContHeader {
    font-size: 1.8rem;
  }

  .techBox p {
    font-size: 0.7rem;
  }

  .resourceTitle {
    font-size: 1.3rem;
  }

  .otherCareersTitle {
    font-size: 1.3rem;
  }

  .pathCont {
    transform: scale(0.7);
    margin-top: 40px;
  }

  .pathHeader {
    font-size: 1.3rem;
  }
}
